.question-detail__comment {
  min-height: 175px;
}
.question-detail__comment-panel {
  padding: 10px 26px;
  border-bottom: 1px solid #f0f0f0;
}
.question-detail__comment-panel .nav-tabs .nav-link.active {
  border: 0;
  border-bottom: 4px #e8bb20 solid;
  color: #212121;
}
.question-detail__comment-panel .nav-tabs .nav-link:hover {
  border-color: none;
}
.question-detail__comment-panel .nav .nav-item {
  font-size: 14px;
  padding: 6px;
  color: #5f6369;
}


/* comment item  */
.comment-item__header .comment-item__header-name {
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0px;
  text-align: left;
  color: #3b63a1;
  margin-right: 24px;
}
.comment-item {
  margin: 40px 0px;
  padding: 0px 26px;
  height: -webkit-fill-available;
}
.comment-item__header .comment-item__header-id {
  float: right;
  background-color: #ffffff;
}
.comment-item__avatar img {
  width: 48px;
  height: 48px;
  margin-left: 16px;
}
.comment-item__content-comment {
  font-size: 13px;
  letter-spacing: 0px;
  text-align: left;
  color: #212121;
  margin-top: 6px;
}
.comment-item__header-time, .comment-item__header-id {
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0px;
  color: #707070;
}
.diveder-comment-item {
  border-bottom: 2px solid #f0f0f0;
}
.foote-social .foote-social__item {
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #707070;
  font-size: 12px;
}
.sub-comment-item {
  left: 60px;
}
.question-detail__login {
  text-align: center;
  opacity: 0.8;
  border: solid 1px #e8bb20;
  background-color: #ffbf00;
  cursor: pointer;
  padding: 12px 0;
}
.question-detail__login a {
  text-decoration: unset !important;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0px;
  color: #000000;
}
/* end comment item  */


/* top question */
.question-top__avatar {
  width: 72px;
  height: 72px;
  margin-left: 16px;
  margin-right: 12px;
}
.question-top .question-top__name {
  font-weight: 500;
  font-style: normal;
  color: #3b63a1;
  margin-right: 12px;
}
.question-top__header-category span.category {
  font-size: 18px;
  font-weight: 500;
  color: #3b63a1;
}
.question-top__header .question-top__header-time {
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  color: #757575;
}
.question-top .question-top__action {
  top: 10px;
  right: 10px;
}
.question-top {
  padding: 20px 26px;
}
.question-top .question-top__tag h1 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.01px;
  color: #3b63a1;
  margin-top: 21.5px;
}
.question-top .question-top__tag p.question {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: 0px;
  text-align: left;
  color: #757575;
}
/* end top question  */