div.sr-category__dropdown-item
  label(for="exampleFormControlSelect1") Example select
  select.form-control#exampleFormControlSelect1
    - var indexCategorySelect = 0
        while indexCategorySelect < 4
          option= indexCategorySelect++
