<div class="search-result__item">
  <div class="row item-container">
    <div class="col-4 item-image" style="background-image: url('../../../assets/img/house-thumb.jpg')">
    </div>
    <div class="col-8 item-details">
      <div class="row item-price">
        <p class="border-right price">7,5 triệu</p>
        <p class="border-right acreage">60,78m2</p>
        <p class="ratio">10 x 6,8m</p>
      </div>
      <div class="item-type">
        <p>CĂN HỘ CHUNG CƯ</p>
      </div>
      <div class="row item-info">
        <p class="border-right">Thuê</p>
        <p class="border-right">Số tờ 30</p>
        <p>Số thửa - -</p>
      </div>
      <div class="row item-detail">
        <p>
          <img src="../../../assets/img/SVG/bed.svg" alt=""> 10
        </p>
        <p>
          <img src="../../../assets/img/SVG/shower.svg" alt=""> 20
        </p>
        <p>
          <img src="../../../assets/img/SVG/direction.svg" alt=""> Đông Nam
        </p>
      </div>
    </div>
  </div>
</div>
<div class="search-result__item">
  <div class="row item-container">
    <div class="col-4 item-image" style="background-image: url('../../../assets/img/house-thumb.jpg')">
    </div>
    <div class="col-8 item-details">
      <div class="row item-price">
        <p class="border-right price">7,5 triệu</p>
        <p class="border-right acreage">60,78m2</p>
        <p class="ratio">10 x 6,8m</p>
      </div>
      <div class="item-type">
        <p>CĂN HỘ CHUNG CƯ</p>
      </div>
      <div class="row item-info">
        <p class="border-right">Thuê</p>
        <p class="border-right">Số tờ 30</p>
        <p>Số thửa - -</p>
      </div>
      <div class="row item-detail">
        <p>
          <img src="../../../assets/img/SVG/bed.svg" alt=""> 10
        </p>
        <p>
          <img src="../../../assets/img/SVG/shower.svg" alt=""> 20
        </p>
        <p>
          <img src="../../../assets/img/SVG/direction.svg" alt=""> Đông Nam
        </p>
      </div>
    </div>
  </div>
</div>
<div class="search-result__item">
  <div class="row item-container">
    <div class="col-4 item-image" style="background-image: url('../../../assets/img/house-thumb.jpg')">
    </div>
    <div class="col-8 item-details">
      <div class="row item-price">
        <p class="border-right price">7,5 triệu</p>
        <p class="border-right acreage">60,78m2</p>
        <p class="ratio">10 x 6,8m</p>
      </div>
      <div class="item-type">
        <p>CĂN HỘ CHUNG CƯ</p>
      </div>
      <div class="row item-info">
        <p class="border-right">Thuê</p>
        <p class="border-right">Số tờ 30</p>
        <p>Số thửa - -</p>
      </div>
      <div class="row item-detail">
        <p>
          <img src="../../../assets/img/SVG/bed.svg" alt=""> 10
        </p>
        <p>
          <img src="../../../assets/img/SVG/shower.svg" alt=""> 20
        </p>
        <p>
          <img src="../../../assets/img/SVG/direction.svg" alt=""> Đông Nam
        </p>
      </div>
    </div>
  </div>
</div>
<div class="search-result__item">
  <div class="row item-container">
    <div class="col-4 item-image" style="background-image: url('../../../assets/img/house-thumb.jpg')">
    </div>
    <div class="col-8 item-details">
      <div class="row item-price">
        <p class="border-right price">7,5 triệu</p>
        <p class="border-right acreage">60,78m2</p>
        <p class="ratio">10 x 6,8m</p>
      </div>
      <div class="item-type">
        <p>CĂN HỘ CHUNG CƯ</p>
      </div>
      <div class="row item-info">
        <p class="border-right">Thuê</p>
        <p class="border-right">Số tờ 30</p>
        <p>Số thửa - -</p>
      </div>
      <div class="row item-detail">
        <p>
          <img src="../../../assets/img/SVG/bed.svg" alt=""> 10
        </p>
        <p>
          <img src="../../../assets/img/SVG/shower.svg" alt=""> 20
        </p>
        <p>
          <img src="../../../assets/img/SVG/direction.svg" alt=""> Đông Nam
        </p>
      </div>
    </div>
  </div>
</div>
<div class="search-result__item">
  <div class="row item-container">
    <div class="col-4 item-image" style="background-image: url('../../../assets/img/house-thumb.jpg')">
    </div>
    <div class="col-8 item-details">
      <div class="row item-price">
        <p class="border-right price">7,5 triệu</p>
        <p class="border-right acreage">60,78m2</p>
        <p class="ratio">10 x 6,8m</p>
      </div>
      <div class="item-type">
        <p>CĂN HỘ CHUNG CƯ</p>
      </div>
      <div class="row item-info">
        <p class="border-right">Thuê</p>
        <p class="border-right">Số tờ 30</p>
        <p>Số thửa - -</p>
      </div>
      <div class="row item-detail">
        <p>
          <img src="../../../assets/img/SVG/bed.svg" alt=""> 10
        </p>
        <p>
          <img src="../../../assets/img/SVG/shower.svg" alt=""> 20
        </p>
        <p>
          <img src="../../../assets/img/SVG/direction.svg" alt=""> Đông Nam
        </p>
      </div>
    </div>
  </div>
</div>