@import './_contact_style.scss';
/* Sub category  */
.rp-category__item {
    color: #707070;
    padding: 12px, 15px;
    cursor: pointer;
}
.rp-category__item:hover {
    transition: .2s;
    background-color: #f0f0f0;
}
.nav.rp-category__container {
    flex-wrap: unset;
    white-space: nowrap;
    overflow-x: scroll;
}
.nav.rp-category__container::-webkit-scrollbar {
    width: 0;
}
/* end Sub Category  */

/* contact item  */
.result-item__contact .result-item__contact__avatar {
    width: 70px;
}
.result-item__contact {
    padding: 30px 20px;
}
.result-item__contact__action {
    right: 20px;
    top: 15px;
}
.result-item__contact .contact-info__name {
    font-size: 1.2rem;
    color: #3b63a1;
}
.contact-info__address, .contact-info__phone {
    font-size: .9rem
}
.contact-address__map__description {
    font-size: xx-small;
    background-color: #0abde3;
    color: #fff;
    height: 100%;
    top: 0;
    left: 0;
}
.contact__footer__item {
    font-size: 12px;
    color: #707070;
    padding: 5px 7px;
    font-weight: 500;
}
.result-item__contact-info__like {
    color: #62A8C4;
    border-color: #62A8C4;
    transition: .2s;
}
.result-item__contact-info__like:hover {
    transition: .2s;
    background-color: #CFCBC5;
    border-color: #CFCBC5;
}
.contact-address__map img {
    object-fit: unset;
}
.result-item__contact__container:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: .35s;
    border-radius: 5px;
}
.result-item__contact__container {
    transition: .4s;
}
/* end contact item  */

/* rating */

.rating-container .rating__total__text {
    color: #1a73e8;
    font-size: .7rem;
}
.rating-container .rating__item.active {
    color: #e8bb20;
}
.rating-container .rating__item {
    font-size: .7rem;
}

/* end rating */


/* Reset vendor */

nav a:hover {
    color:  #707070 !important;
}

/* Responsive  */

@media (min-width: 576px) { }

@media (min-width: 768px) { 
    .result-item__contact .result-item__contact__avatar {
        width: 100px;
    }
 }

@media (min-width: 992px) { 
    .rp-category__container {
        margin-left: 125px;
        padding: 15px 0;
    }
    .result-item__contact .result-item__contact__avatar {
        width: 120px;
    }
 }

@media (min-width: 1200px) {  }