<link rel="stylesheet" href="../../../assets/stylesheets/partials/chat/chatSideBar.css">

<!-- CHAT SIDEBAR -->
<div id="chat-sidebar" class="chat-sidebar collapsed">
  <div class="chat-sidebar__container">
    <div class="chat-sidebar__content d-flex flex-column justify-content-between">
      <!-- Chat Sidebar Top -->
      <div class="chat-sidebar__top">
        <div class="chat-sidebar--btn-collapse">
          <button id="btn-chat--expand" class="btn btn-chat--expand">
            <img src="../../../assets/img/Path 115.png" alt="">
          </button>
        </div>
      </div>
      <!-- Chat Sidebar Bottom -->
      <div class="chat-sidebar__bottom">
        <!-- Chat list -->
        <div class="chat-sidebar__list chat-list">
          <div class="chat-list__container">
            <div class="chat-list__content">
              <div class="chat-list__contact">
                <div class="chat-list--contact-items">
                  <!-- Contact items -->
                  <div class="contact-items contact-items__active">
                    <!-- Contact item -->
                    <div class="contact-item d-flex justify-content-center">
                      <div class="contact-item--avatar">
                        <img src="../../../assets/img/chat-avt-1.png" alt="">
                      </div>
                      <div class="contact-item--name">Lê Ánh Hồng Nga</div>
                      <div class="contact-item--status">
                        <img src="../../../assets/img/icon-chat-active.png" alt="">
                      </div>
                    </div>
                    <!-- Contact item -->
                    <div class="contact-item d-flex justify-content-center">
                      <div class="contact-item--avatar">
                        <img src="../../../assets/img/chat-avt-2.png" alt="">
                      </div>
                      <div class="contact-item--name">Peter Parker</div>
                      <div class="contact-item--status">
                        <img src="../../../assets/img/icon-chat-active.png" alt="">
                      </div>
                    </div>
                    <!-- Contact item -->
                    <div class="contact-item d-flex justify-content-center">
                      <div class="contact-item--avatar">
                        <img src="../../../assets/img/chat-avt-3.png" alt="">
                      </div>
                      <div class="contact-item--name">Tom Hank</div>
                      <div class="contact-item--status">
                        <img src="../../../assets/img/icon-chat-active.png" alt="">
                      </div>
                    </div>
                    <!-- Contact item -->
                    <div class="contact-item d-flex justify-content-center">
                      <div class="contact-item--avatar">
                        <img src="../../../assets/img/chat-avt-4.png" alt="">
                      </div>
                      <div class="contact-item--name">Amy Lee Johnson</div>
                      <div class="contact-item--status">
                        <img src="../../../assets/img/icon-chat-active.png" alt="">
                      </div>
                    </div>
                    <!-- Contact item -->
                    <div class="contact-item d-flex justify-content-center">
                      <div class="contact-item--avatar">
                        <img src="../../../assets/img/chat-avt-5.png" alt="">
                      </div>
                      <div class="contact-item--name">Picasa Poo</div>
                      <div class="contact-item--status">
                        <img src="../../../assets/img/icon-chat-active.png" alt="">
                      </div>
                    </div>
                  </div>
                  <!-- Contact items -->
                  <div class="contact-items contact-items__inactive">
                    <!-- Contact item -->
                    <div class="contact-item d-flex justify-content-center">
                      <div class="contact-item--avatar">
                        <img src="../../../assets/img/chat-avt-6.png" alt="">
                      </div>
                      <div class="contact-item--name">Jessica Snow</div>
                      <div class="contact-item--status">
                        <img src="../../../assets/img/icon-chat-active.png" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Chat message -->
        <div class="chat-sidebar__chat-message">
          <div class="chat-message__container">
            <div class="chat-message__content">
              <div class="chat-message d-flex justify-content-center align-items-center">
                <div class="chat-message--icon">
                  <img src="../../assets/img/chat-message.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Chat Search -->
        <div class="chat-sidebar__search-input">
          <div class="search-input">
            <div class="search-input__container">
              <div class="search-input__content">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="search-icon">
                      <img src="../../assets/img/SVG/search.svg" alt="">
                    </div>
                  </div>
                  <input type="text" class="form-control" placeholder="Tìm kiếm bạn bè" aria-label="Username"
                    aria-describedby="basic-addon1">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Chat pop-up -->
        <div id="chat-sidebar__pop-up">
          <div class="chat-popup">
            <div class="chat-popup__container">
              <div class="chat-popup__content">
                <div id="chat-popup__items" class="chat-popup__items">
                  <div class="chat-popup--item">
                    <div class="chat-popup--header d-flex">
                      <div class="chat-popup--status">
                        <img src="../../../assets/img/icon-chat-active.png" alt="">
                      </div>
                      <span class="ml-2 header--text">Test</span>
                      <div class="chat-popup--close">&#215;</div>
                    </div>
                    <div class="chat-popup--body"></div>
                    <div class="chat-popup--input">
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Nhập tin nhắn" aria-label="Username"
                          aria-describedby="basic-addon1">
                          <div class="input-group-append">
                            <div class="send-icon">
                              <img src="../../assets/img/icon-send.png" alt="">
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Include scripts -->
<script type="text/javascript" src="../../assets/scripts/chat/chatSideBar.js"></script>