<% layout('../../layouts/default.ejs') -%>
<% block('title', 'Trang kết quả'); -%>

<link rel="stylesheet" type="text/css" href="../../assets/stylesheets/_index.css">

<!-- ================================ Desktop ============================================== -->
<section class="Result-Page">
  <div class="line-top"></div>
  <div class="container">
    <div class="row">
      <div class="header-top">
        <div class="menu-top">
          <div class="col-md-1 col-xs-1">
            <img src="../../assets/img/Iconasset.png" alt="">
          </div>
          <div class="col-md-8 col-xs-12">
            <input type="text" id='myInput'>
          </div>
          <div class="list-menu col-md-4 col-xs-4">
            <ul>
              <li class="icon-menu sub-item-page-result"><a id="icon-menu" href="#"><img class="img_menu"
                    src="../../assets/img/Group 1.png" alt=""></a>
                <ul id="gr-item" class="sub-menu-2 disable">
                  <li class="sub-item-2"><a href="#"><img src="../../assets/img/Group 1569.png" alt="">Tính toán khoản vay</a>
                  </li>
                  <li class="sub-item-2"><a href="#"><img src="../../assets/img/baseline-insert_chart-24px.png" alt="">Tính
                      toán hiểu quả Dự án</a></li>
                  <li class="sub-item-2"><a href="#"><img src="../../assets/img/baseline-monetization_on-24px.png" alt="">Tài
                      chính cá nhân</a></li>
                </ul>
              </li>
              <li><a href="#"><img src="../../assets/img/Group 22.png" alt=""></a></li>
              <li><a href="#"><img src="../../assets/img/ab5a4de46f22fa6dc298f0722ba2277c.png" alt=""></a></li>
            </ul>
          </div>
        </div>
        <div class="menu-bottom">
          <ul class="btn">
            <li class="btn-all active-link"><a href="/ket-qua">Tất cả</a></li>
            <li class="btn-information"><a href="/ket-qua/thong-tin">Thông tin</a></li>
            <li class="btn-price-list"><a href="/ket-qua/bang-gia">Bảng giá</a></li>
            <li class="btn-add"><a href="#">Thêm</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-12 header-content">
        <div class="container">
          <div class="row">
            <div class="col-md-10 header-right-map">
              <div style="max-width: 870px;border:5px solid #F0F0F0;padding-top: 10px;height: 480px;border-top-left-radius: 0px;
                    border-top-right-radius: 0px;border-top: 0px;">
                <p class="text-result">Khoảng <span>1.792</span> kết quả</p>
                <div class="header-content-1">
                  <img src="../../assets/img/Screen Shot 2019-05-28 at 8.26.44 PM.png" alt="">
                  <div class="address">
                    <p class="title-map">Lý Chính Thắng</p>
                    <p class="address-map">Quận 3, Tp Hồ Chí Minh</p>
                  </div>
                </div>
              </div>
              <div class="header-content-2">
                <img src="../../assets/img/Group 1695.png" alt="">
                <div class="container">
                  <div class="row">
                    <div class="col-md-1 avatar-left">
                      <a class="avatar-page-result" href="#">
                        <img src="../../assets/img/Rectangle 97.png" alt="">
                      </a>
                    </div>

                    <div class="col-md-11 content-map-right">
                      <div class="content">
                        <p class="content-2"><a href="#">Asset data new</a> [Chuyên gia <span class="content-1">3,5 <img
                              src="../../assets/img/star.png" alt=""></span>]</p>
                        <p>đã đăng một bài viết trong <a href="#">Thông tin</a></p>
                        <p class="content-3">15 ngày trước</p>
                        <a href="#" class="span-content-4">Tòa nhà Lý Chính Thắng đang trong giai đoạn hoàn thiện</a>
                        <p class="content-5">Ngày 10-12/05: Có 123 thông báo kế hoạch lựa chọn nhà thầu chậm ....
                          1527/QĐ-UBND ngày 14/02/2019; KHLCNT của Ban Quản lý dự án đầu tư xây .... KHLCNT của Sở Tài
                          chính tỉnh Hưng …. cho dự án “Mua sắm thiết bị định ....
                          Hạng mục: Xóm Ao Vàng, Cổ Rùa, Gò Chè, Phúc Lộc, Quyết Thắng, Tân ...</p>
                      </div>
                      <div class="icon-comment-like-share">
                        <img src="../../assets/img/ic_chat_bubble_outline_black_24px.png" alt="">
                        <span>12</span>
                        <img src="../../assets/img/ic_like_black_24px.png" alt="">
                        <span>12</span>
                        <img src="../../assets/img/ic_share_black_24px.png" alt="">
                        <span>12</span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="header-content-3">
                <img src="../../assets/img/Group 1695.png" alt="">
                <div class="container">
                  <div class="row">
                    <div class="col-md-1 avatar-left">
                      <a class="avatar-page-result" href="#">
                        <img src="../../assets/img/1pcs-hot-kawaii-small-teddy-bears-plush-toys.png" alt="">
                      </a>
                    </div>

                    <div class="col-md-11 content-map-right">
                      <div class="content">
                        <!-- <span class="content-1">4,5+ <img src="../../assets/img/star.png" alt=""> </span> -->
                        <!-- <p class="content-2">Asset New <span>đã đăng một bài viết trong</span> Thông tin</p> -->
                        <p class="content-2"><a href="#">Asset data new</a> [Chuyên gia <span class="content-1">3,5 <img
                              src="../../assets/img/star.png" alt=""></span>] </p>
                        <p>đã đăng một bài viết trong <a href="#">Thông tin</a></p>
                        <p class="content-3">15 ngày trước</p>
                        <a href="#" class="span-content-4">Tòa nhà Lý Chính Thắng đang trong giai đoạn hoàn thiện</a>
                        <p class="content-5">Ngày 10-12/05: Có 123 thông báo kế hoạch lựa chọn nhà thầu chậm ....
                          1527/QĐ-UBND ngày 14/02/2019; KHLCNT của Ban Quản lý dự án đầu tư xây .... KHLCNT của Sở Tài
                          chính tỉnh Hưng …. cho dự án “Mua sắm thiết bị định ....
                          Hạng mục: Xóm Ao Vàng, Cổ Rùa, Gò Chè, Phúc Lộc, Quyết Thắng, Tân ...</p>
                      </div>
                      <div class="icon-comment-like-share">
                        <img src="../../assets/img/ic_chat_bubble_outline_black_24px.png" alt="">
                        <span>12</span>
                        <img src="../../assets/img/ic_like_black_24px.png" alt="">
                        <span>12</span>
                        <img src="../../assets/img/ic_share_black_24px.png" alt="">
                        <span>12</span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="header-content-4">
                <img src="../../assets/img/Group 1695.png" alt="">
                <div class="container">
                  <div class="row">
                    <div class="col-md-1 avatar-left">
                      <a class="avatar-page-result" href="#">
                        <img src="../../assets/img/chat-avt-3.png" alt="">
                      </a>
                    </div>

                    <div class="col-md-11 content-map-right">
                      <div class="content">
                        <p class="content-2"><a href="#">Asset data new</a> [Chuyên gia <span class="content-1">3,5 <img
                              src="../../assets/img/star.png" alt=""></span>] </p>
                        <p>đã đăng một bài viết trong <a href="#">Thông tin</a></p>
                        <p class="content-3">15 ngày trước</p>
                        <a href="#" class="span-content-4">Tòa nhà Lý Chính Thắng đang trong giai đoạn hoàn thiện</a>
                        <p class="content-5">Ngày 10-12/05: Có 123 thông báo kế hoạch lựa chọn nhà thầu chậm ....
                          1527/QĐ-UBND ngày 14/02/2019; KHLCNT của Ban Quản lý dự án đầu tư xây .... KHLCNT của Sở Tài
                          chính tỉnh Hưng …. cho dự án “Mua sắm thiết bị định ....
                          Hạng mục: Xóm Ao Vàng, Cổ Rùa, Gò Chè, Phúc Lộc, Quyết Thắng, Tân ...</p>
                      </div>
                      <div class="icon-comment-like-share">
                        <img src="../../assets/img/ic_chat_bubble_outline_black_24px.png" alt="">
                        <span>12</span>
                        <img src="../../assets/img/ic_like_black_24px.png" alt="">
                        <span>12</span>
                        <img src="../../assets/img/ic_share_black_24px.png" alt="">
                        <span>12</span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="header-content-5">
                <img src="../../assets/img/Group 1695.png" alt="">
                <div class="container">
                  <div class="row">
                    <div class="col-md-1 avatar-left">
                      <a class="avatar-page-result" href="#">
                        <img src="../../assets/img/Rectangle 97.png" alt="">
                      </a>
                    </div>
                    <div class="col-md-11 content-map-right">
                      <div class="content">
                        <p class="content-2"><a href="#">Asset data new</a> [Chuyên gia <span class="content-1">3,5 <img
                              src="../../assets/img/star.png" alt=""></span>] </p>
                        <span class="p-content-3">đã đăng một bài viết trong <a href="#">Thông tin</a> cùng với <a
                            href="#">Homekeys97891</a> cập nhật trạng thái <span>Bán</span></s>
                          <p class="p-content-4">56 ngày trước</p>
                          <div class="container con-5">
                            <div class="row ro-5">
                              <div class="col-md-4 img-5">
                                <img
                                  src="../../assets/img/tienphongnhaongdcmr-154467036680228360589-crop-1544670369890393980353.png"
                                  alt="">
                              </div>
                              <div class="col-md-8 content-a-5">
                                <ul>
                                  <li>2,66 tỷ | <span>60,78m2</span> | <span>150,0m2</span>
                                    <div class="img-right">
                                      <img src="../../assets/img/bxs-edit.png" alt="">
                                      <img src="../../assets/img/earth.png" alt="">
                                      <img src="../../assets/img/baseline-map-24px.png" alt=""
                                        style="width: 30px;height: 30px;">
                                    </div>
                                  </li>
                                  <li>711014P0001- Hồ Thị Kỷ, Phường 4, Quận 6, Hồ Chí Minh</li>
                                  <li>Nhà xây dựng <a href="#">Novoland</a> | Bàn giao T2.2022 <img
                                      src="../../assets/img/Screen Shot-icon 2019-05-28 at 8.26.44 PM.png" alt=""></li>
                                  <li>Đang làm móng | Giấy phép xây dựng</li>
                                  <li>24.567m | 2 Blocks | 1.200 CH | --SH | 120 OFT | 8.467m2 TMDV</li>
                                  <li>1,2 tỷ/căn 2PN | Trả trước: 200 triệu | Thanh toán: 22,3 triệu/tháng</li>
                                  <li>
                                    <img src="../../assets/img/Group 1780.png" alt="">
                                    <p>3 tầng</p>
                                    <img src="../../assets/img/Group 6.png" alt="">
                                    <p>--</p>
                                    <img src="../../assets/img/Group 7.png" alt="">
                                    <p>3</p>
                                    <img src="../../assets/img/outline-near_me-24px.png" alt="">
                                    <p>Đông nam</p>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="icon-comment-like-share">
                        <img src="../../assets/img/Group 2124.png" alt=""><img>
                        <span>40</span>
                        <img src="../../assets/img/ic_chat_bubble_outline_black_24px.png" alt="">
                        <span>12</span>
                        <img src="../../assets/img/ic_like_black_24px.png" alt="">
                        <span>298</span>
                        <img src="../../assets/img/ic_share_black_24px.png" alt="">
                        <span>26</span>
                        <img src="../../assets/img/baseline-mail_outline-24px.png" alt=""><img>
                        <span>12</span>
                        <img src="../../assets/img/baseline-add_shopping_cart-24px.png" alt="">
                      </div>
                    </div>
                  </div>
                </div>
                <img class="ic_like-1" src="../../assets/img/like_outline.png" alt="">
              </div>
              <div class="header-content-5">
                <img src="../../assets/img/Group 1695.png" alt="">
                <div class="container">
                  <div class="row">
                    <div class="col-md-1 avatar-left">
                      <a class="avatar-page-result" href="#">
                        <img src="../../assets/img/Rectangle 97.png" alt="">
                      </a>
                    </div>
                    <div class="col-md-11 content-map-right">
                      <div class="content">
                        <p class="content-2"><a href="#">Asset data new</a> [Chuyên gia <span class="content-1">3,5 <img
                              src="../../assets/img/star.png" alt=""></span>] </p>
                        <p>đã đăng một bài viết trong <a href="#">dự án chung cư</a></p>
                        <p class="p-content-4">15 ngày trước</p>
                        <div class="container con-5">
                          <div class="row ro-5">
                            <div class="col-md-4 img-5">
                              <img
                                src="../../assets/img/tienphongnhaongdcmr-154467036680228360589-crop-1544670369890393980353.png"
                                alt="">
                            </div>
                            <div class="col-md-8 content-a-5">
                              <ul>
                                <li>Madison 15 Thi Sách
                                  <div class="img-right">
                                    <img src="../../assets/img/bxs-edit.png" alt="">
                                    <img src="../../assets/img/earth.png" alt="">
                                    <img src="../../assets/img/baseline-map-24px.png" alt="" style="width: 30px;height: 30px;">
                                  </div>
                                </li>
                                <li>711023- 15 Thi Sách, Phường Dakao, Quận 1, Hồ Chí Minh</li>
                                <li>Sản phẩm của <a href="#">Novoland</a> | Bàn giao T2.2022 <img
                                    src="../../assets/img/Screen Shot-icon 2019-05-28 at 8.26.44 PM.png" alt=""></li>
                                <li>Đang làm móng | Giấy phép xây dựng</li>
                                <li>24.567m | 2 Blocks | 1.200 CH | --SH | 120 OFT | 8.467m2 TMDV</li>
                                <li>1,2 tỷ/căn 2PN | Trả trước: 200 triệu | Thanh toán: 22,3 triệu/tháng</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="icon-comment-like-share">
                        <img src="../../assets/img/Group 2124.png" alt=""><img>
                        <span>40</span>
                        <img src="../../assets/img/ic_chat_bubble_outline_black_24px.png" alt="">
                        <span>12</span>
                        <img src="../../assets/img/ic_like_black_24px.png" alt="">
                        <span>298</span>
                        <img src="../../assets/img/ic_share_black_24px.png" alt="">
                        <span>26</span>
                        <img src="../../assets/img/baseline-mail_outline-24px.png" alt=""></<img>
                        <span>12</span>
                        <img src="../../assets/img/baseline-add_shopping_cart-24px.png" alt="">
                      </div>
                    </div>
                  </div>
                </div>
                <img class="ic_like-2" src="../../assets/img/like_outline_white.png" alt="">

              </div>
              <div class="header-content-6">
                <div class="container">
                  <div class="row">
                    <div class="col-md-1 avatar-left">
                      <a class="avatar-page-result" href="#">
                        <img src="../../assets/img/Rectangle 97.png" alt="">
                      </a>
                    </div>

                    <div class="col-md-11 content-map-right">
                      <div class="content">
                        <!-- <span class="content-1">4,5+ <img src="../../assets/img/star.png" alt=""> </!-->
                        <!-- <p class="content-2">Asset data team <span>đã đăng một</span> Con đường</p> -->
                        <p class="content-2"><a href="#">Asset data new</a> [Chuyên gia <span class="content-1">3,5 <img
                              src="../../assets/img/star.png" alt=""></span>]</p>
                        <p>đã đăng một<a href="#"> Con đường</a></p>
                        <p class="content-3">29 ngày trước</p>
                        <div class="row">
                          <div class="col-md-4">
                            <div class="co-6">
                              <p>Lý Chính Thắng</p>
                              <p>Phường 7, Quận Tân Bình, Hồ Chí Minh</p>
                              <p>Bất động sản trên đường này</p>
                              <p>12 <span>đất nền</span> 09 <span>căn hộ</span></p>
                            </div>
                          </div>
                          <div class="col-md-8">
                            <div class="row">
                              <div class="col-md-5">
                                <img src="../../assets/img/Screen Shot 2019-05-28.png" alt="">
                              </div>
                              <div class="col-md-7 content-6">
                                <p>Phân đoạn: <span>Toàn đường</span></p>
                                <p>Hiện hữu 15,5m | Lộ giới 15,5m</p>
                                <p>Theo bảng giá: 20,5m2 hệ số 2.0</p>
                                <p>Avalue: 140tr/m2</p>
                                <p>Gợi ý kinh doanh: Làm khách sạn</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="icon-comment-like-share">
                        <img src="../../assets/img/ic_chat_bubble_outline_black_24px.png" alt="">
                        <span>12</span>
                        <img src="../../assets/img/ic_like_black_24px.png" alt="">
                        <span>12</span>
                        <img src="../../assets/img/ic_share_black_24px.png" alt="">
                        <span>12</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="header-content-6">
                <div class="container">
                  <div class="row">
                    <div class="col-md-1 avatar-left">
                      <a class="avatar-page-result" href="#">
                        <img src="../../assets/img/Rectangle 97.png" alt="">
                      </a>
                    </div>

                    <div class="col-md-11 content-map-right">
                      <div class="content">
                        <!-- <span class="content-1">4,5+ <img src="../../assets/img/star.png" alt=""> </span> -->
                        <!-- <p class="content-2">Asset data team <span>đã đăng một</span> Doanh nghiệp</p> -->
                        <p class="content-2"><a href="#">Asset data new</a> [Chuyên gia <span class="content-1">3,5 <img
                              src="../../assets/img/star.png" alt=""></span>] </p>
                        <p>đã đăng một<a href="#"> Doanh nghiệp</a></p>
                        <p class="content-3">20 ngày trước</p>
                        <div class="row">
                          <div class="col-md-8 content-6_1">
                            <div class="row">
                              <div class="col-md-3">
                                <img src="../../assets/img/Rectangle 77.png" alt="">
                              </div>
                              <div class="col-md-9 content-6">
                                <p>Song Kim Land</p>
                                <p>89 Lý Chính Thắng Phường 7, Quận Tân Bình, Hồ Chí Minh</p>
                                <p>(+84) 098176761</p>
                                <p>
                                  <img src="../../assets/img/star.png" alt="">
                                  <img src="../../assets/img/star.png" alt="">
                                  <img src="../../assets/img/star.png" alt="">
                                  <img src="../../assets/img/star.png" alt="">
                                  <img src="../../assets/img/star.png" alt="">
                                </p>
                                <p>540 total reviews</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 content-6_2">
                            <div class="co-6">
                              <div class="content-mp">
                                <p>89 Lý Chính Thắng Phường 7, Quận Tân Bình, Hồ Chí Minh</p>
                              </div>
                              <img src="../../assets/img/Screen Shot.png" alt="">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="icon-comment-like-share">
                        <img src="../../assets/img/ic_chat_bubble_outline_black_24px.png" alt="">
                        <span>12</span>
                        <img src="../../assets/img/ic_like_black_24px.png" alt="">
                        <span>12</span>
                        <img src="../../assets/img/ic_share_black_24px.png" alt="">
                        <span>12</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="header-content-7">
                <img src="../../assets/img/Group 1695.png" alt="">
                <div class="container">
                  <div class="row">
                    <div class="col-md-1 avatar-left">
                      <a class="avatar-page-result" href="#">
                        <img src="../../assets/img/Rectangle 97.png" alt="">
                      </a>
                    </div>

                    <div class="col-md-11 content-map-right">
                      <div class="content">
                        <p class="content-2"><a href="#">Asset data new</a> [Chuyên gia <span class="content-1">3,5 <img
                              src="../../assets/img/star.png" alt=""></span>] <a href="#">Tài nguyên</a> </p>
                        <p>đã đăng một<a href="#"> Tài nguyên</a></p>
                        <p class="content-3">20 ngày trước</p>
                        <div class="row">
                          <div class="col-md-1 img-7">
                            <img src="../../assets/img/Google-PDF-Viewer-logo.png" alt="">
                          </div>
                          <div class="col-md-11 content-7">
                            <p>
                              Ngày 10-12/05: Có 123 thông báo kế hoạch lựa chọn nhà thầu chậm.1527/QĐ-UBND ngày
                              14/02/2019; KHLCNT của Ban Quản lý dự án đầu tư xây …. KHLCNT của Sở Tài chính tỉnh Hưng
                              cho dự án “Mua sắm thiết bị định …. Hạng mục: Xóm Ao Vàng, Cổ Rùa, Gò Chè, Phúc Lộc, Quyết
                              Thắng, Tân …
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="icon-comment-like-share">
                        <img src="../../assets/img/ic_chat_bubble_outline_black_24px.png" alt="">
                        <span>12</span>
                        <img src="../../assets/img/ic_like_black_24px.png" alt="">
                        <span>12</span>
                        <img src="../../assets/img/ic_share_black_24px.png" alt="">
                        <span>12</span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="header-content-8">
                <img src="../../assets/img/Group 1695.png" alt="">
                <div class="container">
                  <div class="row">
                    <div class="col-md-1 avatar-left">
                      <a class="avatar-page-result" href="#">
                        <img src="../../assets/img/Rectangle 97.png" alt="">
                      </a>
                    </div>
                    <div class="col-md-11 content-map-right">
                      <div class="content">
                        <p class="content-2"><a href="#">Asset data new</a> [Chuyên gia <span class="content-1">3,5 <img
                              src="../../assets/img/star.png" alt=""></span>] </p>
                        <p>đã đăng một<a href="#"> Hỏi đáp</a></p>
                        <p class="content-3">20 ngày trước</p>
                        <div class="row">
                          <div class="col-md-1 img-8">
                            <img src="../../assets/img/Group 1710 - map.png" alt="">
                          </div>
                          <div class="col-md-11 content-8">
                            <a href="#">Cần thông tin pháp lý khi mua nhà tại quận 2? </a>
                            <p>
                              Ngày 10-12/05: Có 123 thông báo kế hoạch lựa chọn nhà thầu chậm.1527/QĐ-UBND ngày
                              14/02/2019; KHLCNT của Ban Quản lý dự án đầu tư xây …. KHLCNT của Sở Tài chính tỉnh Hưng
                              cho dự án “Mua sắm thiết bị định …. Hạng mục: Xóm Ao Vàng, Cổ Rùa, Gò Chè, Phúc Lộc, Quyết
                              Thắng, Tân …
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="icon-comment-like-share">
                        <img src="../../assets/img/ic_chat_bubble_outline_black_24px.png" alt="">
                        <span>12</span>
                        <img src="../../assets/img/ic_like_black_24px.png" alt="">
                        <span>12</span>
                        <img src="../../assets/img/ic_share_black_24px.png" alt="">
                        <span>12</span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>

            <div class="col-md-2 header-left-map">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-page-result">
    <div class="container">
      <div class="row row-pagination-page-result">
        <div class="pagination-page-result">
          <a class="pagination-pre" href="#">Trước</a>
          <ul>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
          </ul>
          <a class="pagination-next" href="#">Tiếp</a>
        </div>
      </div>
    </div>

    <div class="footer-page-result-item">
      <a href="#" class="footer-item-1">Giới thiệu</a>
      <a href="#" class="footer-item-2">Hướng dẫn</a>
    </div>
    <div class="footer-run">
      <div class="container">
        <div class="row">
          <div class="col-md-6 footer-run-text-1">
            <marquee behavior="" direction="">
              <p>Tin nhanh: <span>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem
                  quis biben</span> <a href="#">Xem nhanh</a> </p>
            </marquee>
          </div>
          <div class="col-md-6 footer-run-text-2">
            <marquee behavior="" direction="">
              <p>Giá nhà đất: <span>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem
                  quis biben</span></p>
            </marquee>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>
<div class="page-chat-right">
  <div class="icon-arrow-on">
    <img src="../../assets/img/Path 115.png" alt="">
  </div>
  <div class="img-avatar1">
    <div class="img-avatar-item-1">
      <div class="icon-onl">
        <img src="../../assets/img/chat-avt-1" alt="">
      </div>
      <div class="img-avatar">
        <img src="../../assets/img/chat-avt-1.png" alt="">
      </div>
    </div>
  </div>
  <div class="img-avatar2">
    <div class="img-avatar-item-1">
      <div class="icon-onl">
        <img src="../../assets/img/chat-avt-1" alt="">
      </div>
      <div class="img-avatar">
        <img src="../../assets/img/chat-avt-1.png" alt="">
      </div>
    </div>
  </div>
  <div class="img-avatar3">
    <div class="img-avatar-item-1">
      <div class="icon-onl">
        <img src="../../assets/img/chat-avt-1" alt="">
      </div>
      <div class="img-avatar">
        <img src="../../assets/img/chat-avt-1.png" alt="">
      </div>
    </div>
  </div>
  <div class="img-avatar4">
    <div class="img-avatar-item-1">
      <div class="icon-onl">
        <img src="../../assets/img/chat-avt-1" alt="">
      </div>
      <div class="img-avatar">
        <img src="../../assets/img/chat-avt-1.png" alt="">
      </div>
    </div>
  </div>
  <div class="img-avatar5">
    <div class="img-avatar-item-1">
      <div class="icon-onl">
        <img src="../../assets/img/chat-avt-1" alt="">
      </div>
      <div class="img-avatar">
        <img src="../../assets/img/chat-avt-1.png" alt="">
      </div>
    </div>
  </div>

  <div class="chat-item">
    <img src="../../assets/img/chat_message.png" alt="">
  </div>
</div>

<!-- =================================================================================== -->
<!-- ================================= Mobile ================================================ -->
<section class="Result-Page-mobile">
  <div class="header-mobile">
    <div class="container">
      <div class="row">
        <div class="col-xs-2">
          <div class="logo-icon">
            <img src="../../assets/img/Iconasset.png" alt="">
          </div>
        </div>
        <div class="col-xs-6">
        </div>
        <div class="col-xs-4">
          <div class="menu-item-mobile">
            <img src="../../assets/img/Group 1.png" alt="">
            <img src="../../assets/img/Group 22.png" alt="">
            <img src="../../assets/img/ab5a4de46f22fa6dc298f0722ba2277c.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="input-mobile">
    <input type="text">
  </div>
  <div class="menu-mobile">
    <ul class="ul-menu-mobile">
      <li><a href="#">Tất cả</a></li>
      <li><a href="#">Thông tin</a></li>
      <li><a href="#">Bản đồ</a></li>
      <li><a href="#">Bảng giá</a></li>
      <li><a href="#">Thêm</a></li>
    </ul>
  </div>
  <p class="text-distance">Khoảng <span>1.782</span> kết quả</p>
  <div class="map-mobile">
    <div class="map-m">
      <img src="../../assets/img/map-mobile.png" alt="">
    </div>
    <div class="address-mobile">
      <span>Lý Chính Thắng</span>
      <p>Quận 3, Tp Hồ Chí Minh</p>
    </div>
  </div>
  <div class="header-mobile-1">
    <img src="../../assets/img/Group 1695.png" alt="">
    <div class="container">
      <div class="row">
        <div class="col-xs-2 header-img-mobile">
          <img src="../../assets/img/Rectangle 97.png" alt="">
        </div>
        <div class="col-xs-10 header-content-mobile">
          <p><a href="#">Asset News</a> [Chuyên gia <span>4,5 <img src="../../assets/img/star.png" alt=""></span> ]</p>
          <p>đã đăng một bài viết trong <a href="#"> Thông tin</a></p>
          <p class="time">15 ngày trước</p>
        </div>
        <a href="#" class="content-mobile-1">Tòa nhà Lý Chính Thắng đang trong giai đoạn hoàn thiện</a>
        <p class="content-mobile-2">Ngày 10-12/05: Có 123 thông báo kế hoạch lựa chọn nhà
          thầu chậm .... 1527/QĐ-UBND ngày 14/02/2019; KHLCNT
          của Ban Quản lý dự án đầu tư xây ….</p>
        <div class="icon-Interactive">
          <p><img src="../../assets/img/ic_chat_bubble_outline_black_24px.png" alt=""> 12</p>
          <p><img src="../../assets/img/ic_like_black_24px.png" alt="">298</p>
          <p><img src="../../assets/img/ic_share_black_24px.png" alt=""> 26</p>
          <p><img src="../../assets/img/baseline-mail_outline-24px.png" alt="">12</p>

        </div>
      </div>
    </div>

  </div>
  <div class="header-mobile-1">
    <img src="../../assets/img/Group 1695.png" alt="">
    <div class="container">
      <div class="row">
        <div class="col-xs-2 header-img-mobile">
          <img src="../../assets/img/Rectangle 97.png" alt="">
        </div>
        <div class="col-xs-10 header-content-mobile">
          <p><a href="#">Asset News</a> [Chuyên gia <span>4,5 <img src="../../assets/img/star.png" alt=""></span> ]</p>
          <p>đã đăng một bài viết trong <a href="#">Thông tin</a></p>
          <p class="time">15 ngày trước</p>
        </div>
        <a href="#" class="content-mobile-1">Tòa nhà Lý Chính Thắng đang trong giai đoạn hoàn thiện</a>
        <p class="content-mobile-2">Ngày 10-12/05: Có 123 thông báo kế hoạch lựa chọn nhà
          thầu chậm .... 1527/QĐ-UBND ngày 14/02/2019; KHLCNT
          của Ban Quản lý dự án đầu tư xây ….</p>
        <div class="icon-Interactive">
          <p><img src="../../assets/img/ic_chat_bubble_outline_black_24px.png" alt=""> 12</p>
          <p><img src="../../assets/img/ic_like_black_24px.png" alt="">298</p>
          <p><img src="../../assets/img/ic_share_black_24px.png" alt=""> 26</p>
          <p><img src="../../assets/img/baseline-mail_outline-24px.png" alt="">12</p>

        </div>
      </div>
    </div>

  </div>
  <div class="header-mobile-1">
    <img src="../../assets/img/Group 1695.png" alt="">
    <div class="container">
      <div class="row">
        <div class="col-xs-2 header-img-mobile">
          <img src="../../assets/img/Rectangle 97.png" alt="">
        </div>
        <div class="col-xs-10 header-content-mobile">
          <!-- <p> <a href="#">Asset News</a> </p> -->
          <p><a href="#">Asset News</a> [Chuyên gia <span>4,5 <img src="../../assets/img/star.png" alt=""></span> ]</p>
          <p>đã đăng một bài viết trong <a href="#"> Thông tin</a></p>
          <p class="time">15 ngày trước</p>
        </div>
        <a href="#" class="content-mobile-1">Tòa nhà Lý Chính Thắng đang trong giai đoạn hoàn thiện</a>
        <p class="content-mobile-2">Ngày 10-12/05: Có 123 thông báo kế hoạch lựa chọn nhà
          thầu chậm .... 1527/QĐ-UBND ngày 14/02/2019; KHLCNT
          của Ban Quản lý dự án đầu tư xây ….</p>
        <div class="icon-Interactive">
          <p><img src="../../assets/img/ic_chat_bubble_outline_black_24px.png" alt=""> 12</p>
          <p><img src="../../assets/img/ic_like_black_24px.png" alt="">298</p>
          <p><img src="../../assets/img/ic_share_black_24px.png" alt=""> 26</p>
          <p><img src="../../assets/img/baseline-mail_outline-24px.png" alt="">12</p>

        </div>
      </div>
    </div>

  </div>
  <div class="header-mobile-1">
    <img src="../../assets/img/Group 1695.png" alt="">
    <div class="container">
      <div class="row">
        <div class="col-xs-2 header-img-mobile">
          <img src="../../assets/img/Rectangle 97.png" alt="">
        </div>
        <div class="col-xs-10 header-content-mobile">
          <!-- <a><a href="#">Asset data team</a></p> -->
          <p><a href="#">Asset News</a> [Chuyên gia <span>4,5 <img src="../../assets/img/star.png" alt=""></span> ]</p>
          <p>đã đăng một <a href="#">dự án chung cư</a></p>
          <!-- <span><a href="#">Homekeys97891</a> cập nhật trạng thái <span>Bán</span></p> -->
          <p class="time">56 ngày trước</p>
        </div>
        <div class="header-content-1-item-mobile">
          <div class="container">
            <div class="row">
              <div class="col-xs-2 img-header-content-mobile">
                <img src="../../assets/img/tienphongmobile.png" alt="">
              </div>
              <div class="col-xs-10 header-content-mobile">
                <div class="icon-detail">
                  <img class="icon-edit" src="../../assets/img/bxs-edit-mobile.png" alt="">
                  <img src="../../assets/img/earth-mobile.png" alt="" style="width: 28;height: 28px;">
                  <img src="../../assets/img/baseline-map-24px-mobile.png" alt="" style="width: 28;height: 28px;">
                </div>
                <p>2,66 tỷ | <span>60,78m2</span> | <span>150,0 sàn</span></p>
                <p>711014P0001-Hồ Thị Kỷ</p>
              </div>
              <div class="container-detail-mobile-1">
                <p>Nhà xây dựng | Bàn giao T2.2010</p>
                <p>Đã hoàn thành | Sổ hồng</p>
                <p><span>* Bán </span>| Avalue: 2,65 tỷ | Arent: 7,5 triệu/ tháng</p>
                <p>47,2 triệu/m2| <span>Trả trước:</span> 700 triệu</p>
                <p>Thanh toán: <span>13,2 triệu/tháng</span></p>
                <p>Hẻm xe hơi | Đường vào 4,5m (LG 5,0m)</p>
                <p><img src="../../assets/img/Group 1780.png" alt=""> 3 tầng <img src="../../assets/img/Group 6.png" alt=""> -- <img
                    src="../../assets/img/Group 7.png" alt=""> 3 <img src="../../assets/img/outline-near_me-24px.png" alt=""> Đông nam
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="icon-Interactive">
          <p><img src="../../assets/img/ic_chat_bubble_outline_black_24px.png" alt=""> 12</p>
          <p><img src="../../assets/img/ic_like_black_24px.png" alt="">298</p>
          <p><img src="../../assets/img/ic_share_black_24px.png" alt=""> 26</p>
          <p><img src="../../assets/img/baseline-mail_outline-24px.png" alt="">12</p>

        </div>
      </div>
    </div>

  </div>
  <div class="header-mobile-1">
    <img src="../../assets/img/Group 1695.png" alt="">
    <div class="container">
      <div class="row">
        <div class="col-xs-2 header-img-mobile">
          <img src="../../assets/img/Rectangle 97.png" alt="">
        </div>
        <div class="col-xs-10 header-content-mobile">
          <p><a href="#">Asset News</a> [Chuyên gia <span>4,5 <img src="../../assets/img/star.png" alt=""></span> ]</p>
          <p>đã đăng một <a href="#">dự án chung cư</a></p>
          <p class="time">56 ngày trước</p>
        </div>
        <div class="header-content-1-item-mobile">
          <div class="container">
            <div class="row">
              <div class="col-xs-2 img-header-content-mobile">
                <img src="../../assets/img/tienphongmobile.png" alt="">
              </div>
              <div class="col-xs-10 header-content-mobile">
                <div class="icon-detail">
                  <img class="icon-edit" src="../../assets/img/bxs-edit-mobile.png" alt="">
                  <img src="../../assets/img/earth-mobile.png" alt="" style="width: 28;height: 28px;">
                  <img src="../../assets/img/baseline-map-24px-mobile.png" alt="" style="width: 28px;height: 28px;">
                </div>
                <p class="title-content-1-mobile">Madison 15 Thi Sách</p>
                <p>711023- 15 Thi Sách, Phường Dakao,
                </p>
              </div>
              <div class="container-detail-mobile-2">
                <p>Sản phẩm của <a href="#">Novaland</a> | Bàn giao T2.2010</p>
                <p>Đang làm móng | Giấy phép xây dựng</p>
                <p>24.567m2 | 2 Blocks | 1.200 CH | --SH | 120 OFT</p>
                <p>8.467m2TMDV | 1,7 tỷ/ căn 2PN</p>
                <p>Trả trước: <span>200 triệu</span>| Thanh toán: <span>22,3 triệu/tháng</span></p>
                <!-- <p><img src="../../assets/img/Group 1780.png" alt=""> 3 tầng <img src="../../assets/img/Group 6.png" alt=""> -- <img src="../../assets/img/Group 7.png" alt=""> 3 <img src="../../assets/img/outline-near_me-24px.png" alt=""> Đông nam</p> -->

              </div>
            </div>
          </div>
        </div>
        <div class="icon-Interactive">
          <p><img src="../../assets/img/ic_chat_bubble_outline_black_24px.png" alt=""> 12</p>
          <p><img src="../../assets/img/ic_like_black_24px.png" alt="">298</p>
          <p><img src="../../assets/img/ic_share_black_24px.png" alt=""> 26</p>
          <p><img src="../../assets/img/baseline-mail_outline-24px.png" alt="">12</p>

        </div>
      </div>
    </div>

  </div>
  <div class="header-mobile-1">
    <img src="../../assets/img/Group 1695.png" alt="">
    <div class="container">
      <div class="row">
        <div class="col-xs-2 header-img-mobile">
          <img src="../../assets/img/Rectangle 97.png" alt="">
        </div>
        <div class="col-xs-10 header-content-mobile">
          <!-- <p><a href="#">Asset News</a></p>  -->
          <p><a href="#">Asset News</a> [Chuyên gia <span>4,5 <img src="../../assets/img/star.png" alt=""></span> ]</p>
          <p>đã đăng một bài viết trong <a href="#"> Thông tin</a></p>
          <p class="time">29 ngày trước</p>
        </div>
        <div class="img-map-detail-mobile">
          <img src="../../assets/img/Screen Shotat 8.26.44 PM.png" alt="">
        </div>
        <div class="content-map-detail-mobile">
          <p>Lý Chính Thắng</p>
          <p>Phường 7, Quận Tân Bình, Hồ Chí Minh</p>
          <p>Bất động sản trên đường này</p>
          <p>12 <span> đất nền</span>&nbsp;&nbsp;&nbsp;&nbsp; 09 <span> căn hộ</span></p>
          <p>Phân đoạn: <span>Toàn đường</span></p>
          <p>Hiện hữu 15,5m | Lộ giới 15,5m</p>
          <p>Theo bảng giá: 20.5tr/m hệ số 2.0</p>
          <p>Avalue: 140tr/m2</p>
          <p>Gợi ý kinh doanh: Làm khách sạn</p>
        </div>
        <div class="icon-Interactive">
          <p><img src="../../assets/img/ic_chat_bubble_outline_black_24px.png" alt=""> 12</p>
          <p><img src="../../assets/img/ic_like_black_24px.png" alt="">298</p>
          <p><img src="../../assets/img/ic_share_black_24px.png" alt=""> 26</p>
          <p><img src="../../assets/img/baseline-mail_outline-24px.png" alt="">12</p>

        </div>
      </div>
    </div>

  </div>
  <div class="header-mobile-1">
    <img src="../../assets/img/Group 1695.png" alt="">
    <div class="container">
      <div class="row">
        <div class="col-xs-2 header-img-mobile">
          <img src="../../assets/img/Rectangle 97.png" alt="">
        </div>
        <div class="col-xs-10 header-content-mobile">
          <p><a href="#">Asset News</a> [Chuyên gia <span>4,5 <img src="../../assets/img/star.png" alt=""></span> ]</p>
          <p>đã đăng một <a href="#">Con đường</a></p>
          <p class="time">29 ngày trước</p>
        </div>
        <div class="img-map-detail-mobile-1">
          <img src="../../assets/img/Screen Shot-map.png" alt="">
          <div class="dev-text-cm-map">
            <p>89 Lý Chính Thắng Phường 7, Quận Tân Bình, Hồ Chí Minh</p>
          </div>
        </div>
        <div class="content-map-detail-mobile-1">
          <div class="container">
            <div class="row">
              <div class="col-xs-3">
                <img src="../../assets/img/Rectangle 77.png" alt="">
              </div>
              <div class="col-xs-9 content-map-item-mobile">
                <p>Song Kim Land</p>
                <p>89 Lý Chính Thắng, Phường 7,<br>Quận Tân Bình, Hồ Chí Minh</p>
                <p>(+84) 098176761</p>
                <p>
                  <img src="../../assets/img/star.png" alt="">
                  <img src="../../assets/img/star.png" alt="">
                  <img src="../../assets/img/star.png" alt="">
                  <img src="../../assets/img/star.png" alt="">
                  <img src="../../assets/img/star.png" alt="">
                  <a href="#">540 total reviews</a>
                </p>

              </div>
            </div>
          </div>
        </div>
        <div class="icon-Interactive">
          <p><img src="../../assets/img/ic_chat_bubble_outline_black_24px.png" alt=""> 12</p>
          <p><img src="../../assets/img/ic_like_black_24px.png" alt="">298</p>
          <p><img src="../../assets/img/ic_share_black_24px.png" alt=""> 26</p>
          <p><img src="../../assets/img/baseline-mail_outline-24px.png" alt="">12</p>

        </div>
      </div>
    </div>

  </div>
  <div class="header-mobile-1">
    <img src="../../assets/img/Group 1695.png" alt="">
    <div class="container">
      <div class="row">
        <div class="col-xs-2 header-img-mobile">
          <img src="../../assets/img/Rectangle 97.png" alt="">
        </div>
        <div class="col-xs-10 header-content-mobile">
          <!-- <a><a href="#">Asset News</a></p> -->
          <p><a href="#">Asset News</a> [Chuyên gia <span>4,5 <img src="../../assets/img/star.png" alt=""></span> ]</p>
          <p>đã đăng một bài viết trong <a href="#"> Thông tin</a></p>
          <p class="time">15 ngày trước</p>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-xs-3 img-detail-mobile">
              <img src="../../assets/img/Google-PDF-Viewer-logo.png" alt="">
            </div>
            <div class="col-xs-9 content-detail-mobile">
              <p>Ngày 10-12/05: Có 123 thông báo kế hoạch lựa chọn nhà thầu chậm.1527/QĐ-UBND ngày 14/02/2019;
                KHLCNT của Ban Quản lý dự án đầu tư xây ….</p>
            </div>
          </div>
        </div>
        <div class="icon-Interactive">
          <p><img src="../../assets/img/ic_chat_bubble_outline_black_24px.png" alt=""> 12</p>
          <p><img src="../../assets/img/ic_like_black_24px.png" alt="">298</p>
          <p><img src="../../assets/img/ic_share_black_24px.png" alt=""> 26</p>
          <p><img src="../../assets/img/baseline-mail_outline-24px.png" alt="">12</p>
        </div>
      </div>
    </div>

  </div>
  <div class="header-mobile-1">
    <img src="../../assets/img/Group 1695.png" alt="">
    <div class="container">
      <div class="row">
        <div class="col-xs-2 header-img-mobile">
          <img src="../../assets/img/Rectangle 97.png" alt="">
        </div>
        <div class="col-xs-10 header-content-mobile">
          <!-- <p><a href="#">Asset News</a></p>  -->
          <p><a href="#">Asset News</a> [Chuyên gia <span>4,5 <img src="../../assets/img/star.png" alt=""></span> ]</p>
          <p>đã đăng một bài viết trong <a href="#"> Thông tin</a></p>
          <p class="time">15 ngày trước</p>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-xs-3 img-detail-mobile">
              <img src="../../assets/img/Group 1710 - map.png" alt="">
            </div>
            <div class="col-xs-9 content-detail-mobile">
              <p>
                <a href="#" class="content-bottom">Cần thông tin pháp lý khi mua nhà tại quận 12?</a>
                Ngày 10-12/05: Có 123 thông báo kế hoạch lựa chọn nhà thầu chậm.
                1527/QĐ-UBND ngày 14/02/2019
              </p>
            </div>
          </div>
        </div>
        <div class="icon-Interactive">
          <p><img src="../../assets/img/ic_chat_bubble_outline_black_24px.png" alt=""> 12</p>
          <p><img src="../../assets/img/ic_like_black_24px.png" alt="">298</p>
          <p><img src="../../assets/img/ic_share_black_24px.png" alt=""> 26</p>
          <p><img src="../../assets/img/baseline-mail_outline-24px.png" alt="">12</p>
        </div>
      </div>
    </div>

  </div>
  <div class="footer-page-result">
    <div class="container">
      <div class="row row-pagination-page-result">
        <div class="pagination-page-result">
          <a class="pagination-pre" href="#">Trước</a>
          <ul>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
          </ul>
          <a class="pagination-next" href="#">Tiếp</a>
        </div>
      </div>
    </div>

    <div class="footer-page-result-item">
      <a href="#" class="footer-item-1">Giới thiệu</a>
      <a href="#" class="footer-item-2">Hướng dẫn</a>
    </div>
    <div class="footer-run">
      <div class="container">
        <div class="row">
          <div class="col-md-6 footer-run-text-1">
            <marquee behavior="" direction="">
              <p>Tin nhanh: <span>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem
                  quis biben</span> <a href="#">Xem nhanh</a> </p>
            </marquee>
          </div>
          <div class="col-md-6 footer-run-text-2">
            <marquee behavior="" direction="">
              <p>Giá nhà đất: <span>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem
                  quis biben</span></p>
            </marquee>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>

<!-- Include scripts -->
<script type="text/javascript" src="../../assets/scripts/HomePage/index.js"></script>