<% layout('../../layouts/default.ejs') -%>
<% block('title', 'Trang chủ'); -%>

<!-- input search mobile-->
<div class="search-mobile">
  <div class="input-search-mobile">
    <a class="btn-exit-search" href="#">
      <img src="../../assets/img/baseline-arrow_forward-24px.png" alt="">
    </a>
    <input class="input-mobile" type="text">
  </div>
  <div class="result-search">
    <a class="btn-remove-item" href="#"><img src="../../assets/img/outline-cancel-24px.png" alt=""></a>
  </div>
</div>
<div class="view-search">
  <div id="menu">
    <ul>
      <li class="icon-menu-item"><a class="js-drawer-open-left-link" href="#"><img src="../../assets/img/Group 1578.png"
            alt=""></a></li>
      <li class="li-1"><a href="#">Thông tin</a></li>
      <li class="li-3"><a href="#">Bảng giá</a></li>
      <li class="li-4"><a id="li-4" href="#">Thêm</a>
        <ul id="gr-item-add" class="sub-menu active">
          <li><a href="#">Danh bạ</a></li>
          <li><a href="#">Tài nguyên</a></li>
          <li><a href="#">Hỏi đáp</a></li>
          <li><a href="#">Cộng đồng</a></li>
        </ul>
      <li class="icon-menu"><a id="icon-menu" href="#"><img class="img_menu" src="../../assets/img/Group 1.png"
            alt=""></a>
        <ul id="gr-item" class="sub-menu-2 disable">
          <li class="sub-item-2"><a href="#"><img src="../../assets/img/Group 1569.png" alt="">Tính toán khoản vay</a>
          </li>
          <li class="sub-item-2"><a href="#"><img src="../../assets/img/baseline-insert_chart-24px.png" alt="">Tính toán
              hiểu
              quả dự án</a></li>
          <li class="sub-item-2"><a href="#"><img src="../../assets/img/baseline-monetization_on-24px.png" alt="">Tài
              chính
              cá nhân</a></li>
        </ul>
      </li>
      <li><a href="#"><img src="../../assets/img/Group 22.png" alt=""></a></li>
      <li class="btn-login"><button type="button">Đăng nhập</button></li>
      </li>
    </ul>
  </div>
  <div class="view-content-search">
    <div class="">
      <div class="view-img">
        <img src="../../assets/img/Untitled-1.png" alt="">
      </div>
      <div class="view-content">
        <span>Là dự án phi lợi nhuận</span>
        <p>nơi lưu trữ và cung cấp thông tin về thị trường Bất động sản <span>Việt Nam</span></p>

        <!-- Input Search Mobile -->
        <form action="">
          <input autocomplete="off" id="mySearch" type="search" name="mySearch" placeholder="Search ..."
            style="width: 359px; height: 46px;border-radius: 24px;border: 1px solid #707070;padding-left: 25px;outline: 0;">
        </form>
        <!-- ========================= -->
        <!-- Input search destop -->
        <div class="autocomplete">
          <input id="myInput" type="text" name="myCountry" placeholder="Search ...">
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="view-footer">
      <div class="view-footer-1">
        <a href="#">Giới thiệu</a>
        <a href="#">Hướng dẫn</a>
      </div>
      <div class="view-footer-2">
        <marquee class="view1">
          <p><span>Tin nhanh: </span> Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,
            lorem quis biben <a href="#">Xem nhanh</a></p>
        </marquee>
        <marquee class="view2">
          <p><span> Giá bán: </span>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,
            lorem quis biben</p>
        </marquee>
      </div>
    </div>
  </div>
</div>
<!-- Menu mobile -->
<div id="DrawerOverlay" class></div>
<div id="NavDrawer" class>
  <ul class="mobile-nav">
    <div class="img-menu-mobile">
      <a href="#"><img src="../../assets/img/Untitled-1.png" alt="" style="width: 91px;height: 24px;"></a>
    </div>
    <li><a href="#">Thông tin</a></li>
    <li><a href="#">Bảng đồ</a></li>
    <li><a href="#">Bảng giá</a></li>
    <li><a href="#">Danh bạ</a></li>
    <li><a href="#">Tài nguyên</a></li>
    <li><a href="#">Hỏi đáp</a></li>
    <li><a href="#">Cộng đồng</a></li>
  </ul>
</div>
<!-- Include scripts -->
<script type="text/javascript" src="../../assets/scripts/HomePage/index.js"></script>
<script type="text/javascript" src="../../assets/scripts/HomePage/autocomplete.js"></script>