<% layout('../../layouts/default.ejs') -%>
<% block('title', 'Tin tức chi tiết'); -%>
<section class="News-Detail-Page">
  <!-- Button to Open the Modal -->
  <button class="btn btn-primary mt-3" data-toggle="modal" data-target="#myModal">
    Open modal
  </button>
  <div class="modal font" id="myModal" onscroll="scrollFunction()">
    <div class="modal-dialog total-style">
      <!-- <div class="modal-dialog"> -->
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <button type="button" class="close close-button" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="div d-flex flex-column absolute show-content animated fadeInUp hide">
            <span class="text-top">Nam Anh</span>
            <span>03 ngày trước</span>
            <button class="">Theo dõi </button>
            <hr>
            <div class="icon-comment-like-share-3 ">
              <img class="edit-icon-3" src="../../assets/img/SVG/like.svg" alt="">
              <span>298</span>
              <br>
              <img src="../../assets/img/ic_like_black_24px.png" alt="">
              <span>26</span>
              <br>
              <img src="../../assets/img/ic_share_black_24px.png" alt="">
              <span>34</span>
            </div>
          </div>

          <div class="container relative">
            <div class="row">
              <div class="col-md-1 text-left">
              </div>
              <div class="col-md-11 col-sm-2 content-top">
              </div>
              <div class="text-detail col-md-11 container">
                <div class="avatar-left d-flex">
                  <img class="mr-3 logo-detail" src="../../assets/img/chat-avt-5.png" />
                  <div class="content-detail-1">
                    <span class="text-top">Nam Anh</span>
                    <span class="content-hide-top">[
                      <span class="small-text">Chuyên gia</span>
                      <span class="content-1">
                        3,5+
                        <img class="edit-star" src="../../assets/img/SVG/star.svg">
                      </span>
                      ]</span>
                    <p>3 ngày trước</p>
                  </div>
                </div>
                <h3 class="show-text-title">Vì sao hầu hết người đi mua nhà đều ưa chuộng những căn hộ đã hoàn
                  thiện, đủ tiện nghi và sẵn sàng vào ở? </h3>
                <img class="edit-picture" src="../../assets/img/phong_detail.png" />
                <h3 class="hide-text-title">Vì sao hầu hết người đi mua nhà đều ưa chuộng những căn hộ đã hoàn
                  thiện, đủ tiện nghi và sẵn sàng vào ở? </h3>
                <p>
                  <p class="text-1">
                    Giảm áp lực căn hộ hình thành trong tương lai khác biệt quá lớn so với truyền thông,
                    những dự án đã hoàn thiện, bàn giao luôn được người mua nhà ưu tiên lựa chọn. Với chính sách
                    "Nhận nhà trước – Trả tiền sau" dự án VC2 Golden Heart số 1, Nghiêm Xuân Yêm, phường Đại Kim,
                    quận Hoàng Mai nhanh chóng ghi điểm.
                  </p>
                  <p class="text-2">
                    Dự án chuẩn bị bàn giao, giảm thiểu áp lực.
                  </p>
                  <p class="text-3">
                    Mua nhà là chuyện an cư lạc nghiệp lâu dài. Giá trị của những sản phẩm BĐS không hề nhỏ.
                    Chuyện người mua nhà băn khoăn, cân đo đong đếm trước khi đưa ra quyết định là điều dễ hiểu.
                    </br>
                    </br>
                    Anh Tuấn, nhân viên một sàn giao dịch có nhiều năm kinh nghiệm về phân phối căn hộ tại Hà
                    Nội chia sẻ: Hiện nay, nguồn cung nhà phong phú, người mua nhà thường lo ngại khi đối mặt
                    với nhiều rủi ro khi lựa chọn những căn hộ trên giấy. Nhất là khi số lượng và loại hình sản
                    phẩm tăng nhưng không đi kèm với chất lượng, bàn giao không đúng thời hạn hoặc thậm chí, sản
                    phẩm khác xa so với bản vẽ mẫu. Thực tế cũng chứng minh, những dự án đã xây dựng xong và
                    tiến hành bàn giao mới ghi điểm trên thị trường và tính thanh khoản sẽ cao.
                    </br>
                    </br>
                    Xét về góc độ kinh tế, những dự án đã hoàn thiện và sẵn sàng bàn giao giúp khách hàng tiết
                    kiệm được một khoản phí thuê nhà. Theo thống kê giá thuê nhà của một gia đình trung bình 5 -
                    10 triệu đồng mỗi tháng. Khi không phải đặt cọc và bỏ ra vài năm để chờ đợi thì người mua
                    nhà hoàn thành và bàn giao đưa vào sử dụng đã tiết kiệm được hàng trăm triệu đồng.
                    </br>
                    </br>
                    Lựa chọn những dự án đã bàn giao, người mua nhà cũng được hưởng các hạng mục, tiện ích nội
                    khu hoàn thiện, trọn vẹn hơn. Dưới áp lực người đi mua nhà có cơ hội được trực tiếp trải
                    nghiệm, "mục sở thị" dự án, chủ đầu tư không chỉ phải chú trọng xây dựng dự án, mà còn phải
                    chỉn chu, kỹ lưỡng hơn trong từng hạng mục. Ngoài ra, có thời gian tìm hiểu thông tin pháp
                    lý của dự án, người mua nhà cũng hạn chế được rủi ro, tranh chấp về giấy tờ sở hữu sau khi
                    nhận nhà. Bởi những lý do này, căn hộ đã bàn giao, đưa vào sử dụng luôn hút khách, đón nhiều
                    tín hiệu tích cực.
                  </p>
                </p>
                <!-- </div> -->
                <div>
                  <div class="swiper-container">
                    <div class="swiper-wrapper swiper-content">
                      <div class="swiper-slide">
                        <img src="../../assets/img/toa_nha_2.png" />
                      </div>
                      <div class="swiper-slide">
                        <img src="../../assets/img/phong_detail.png" />
                      </div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next edit-button-next"></div>
                    <div class="swiper-button-prev edit-button-prev"></div>
                  </div>
                </div>
                <p>
                  <p class="text-2">
                    Nhận nhà trước, trả tiền sau.
                  </p>
                  <p class="text-3">
                    Trong bối cảnh những dự án đã hoàn thiện và sẵn sàng bàn giao đang trở thành lựa chọn được ưu
                    tiên,
                    chủ đầu tư không những phải đẩy nhanh tiến độ xây dựng, mà còn phải đưa ra những chính sách thật
                    sự
                    nổi bật.
                    <br>
                    <br>
                    Điển hình như dự án VC2 Golden Heart số 1, Nghiêm Xuân Yêm, phường Đại Kim, quận Hoàng Mai, nhân
                    dịp
                    dự án hoàn thành, bàn giao đưa vào sử dụng vào tháng 6/2019, Chủ đầu tư Vinaconex 2 đã có chính
                    sách
                    ưu đãi đặc biệt hấp dẫn "Nhận nhà trước – Trả tiền sau": Khách hàng chỉ cần thanh toán 30% giá
                    trị
                    căn
                    hộ là được nhận bàn giao ngay nhà để sử dụng, 70% còn lại trả theo tiến độ thanh toán linh hoạt.
                    Chính
                    sách ưu đãi này sẽ giúp cho khách hàng đang đi thuê vừa có nhà để ở, vừa giải tỏa được áp lực
                    tài
                    chính khi kéo giãn tiến độ thanh toán. Cơ hội chỉ áp dụng cho Khách hàng đặt mua căn hộ từ ngày
                    22/5/2019 đến hết 30/6/2019.
                    <br>
                    <br>
                    Ngoài ra, Công ty Vinaconex 2 còn rất nhiều chính sách ưu đãi, hấp dẫn cho Khách hàng như: chính
                    sách
                    ưu đãi lên đến 10% - tương đương gần 200 triệu đồng, Khách hàng nộp đủ 70% giá trị căn hộ ngay
                    sau
                    khi
                    ký hợp đồng sẽ được tặng thêm 1% giá trị căn hộ , hỗ trợ lãi suất ngân hàng 0% ...
                  </p>
                </p>
                <div>
                  <ul class="nav">
                    Tags:
                    <li class="nav-item edit-tags">
                      <span class="tag-item  text-2">
                        BatDongSan
                      </span>
                    </li>
                    <li class="nav-item edit-tags">
                      <span class="tag-item text-2 tag-item-3">
                        Laisuatnganhang
                      </span>
                    </li>
                    <li class="nav-item edit-tags">
                      <span class="tag-item  text-2">
                        BatDongSan
                      </span>
                    </li>
                    <li class="nav-item edit-tags">
                      <span class="tag-item  text-2">
                        BatDongSan
                      </span>
                    </li>
                    <li class="nav-item edit-tags">
                      <span class="tag-item  text-2">
                        BatDongSan
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-2">
            </div> -->
          </div>
          <!----------- Content-bottom --------->
          <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
              <div class="hr">
                <hr class="hr-1">
              </div>
              <!-- </div> -->
              <div class="content-bottom">
                <p>Bình luận</p>
                <div class="avatar-left d-flex">
                  <img class="mr-3 logo-detail-1" src="../../assets/img/chat-avt-4.png" />
                  <div class="content-detail-1">
                    <span class="content-1"> Lâm Thy Văn Tần </span>
                    <span class="text-top"> 12:09 - 18/10/2019</span>
                    <p>Đầu tư an toàn, bảo toàn dòng vốn. Cam kết lợi nhuận 10%/năm. Hỗ trợ lãi suất 0%/tháng. Bảo đảm
                      chất lượng với đơn vị vận hành quốc tế. Giá trị bất động sản tăng theo hàng năm. Cho vay lên tới
                      65% Cơ hội du lịch miễn phí. Vốn đầu tư từ 600 triệu. Tặng 15 đêm nghỉ dưỡng.</p>
                    <div class="icon-comment-like-share">
                      <span>Trả lời</span>
                      <img src="../../assets/img/ic_chat_bubble_outline_black_24px.png" alt="">
                      <span>0</span>
                      <img src="../../assets/img/ic_like_black_24px.png" alt="">
                      <span>687</span>
                      <img src="../../assets/img/ic_share_black_24px.png" alt="">
                      <span>10</span>
                    </div>
                  </div>
                </div>
                <div class="avatar-left d-flex comment-detail-bottom">
                  <img class="mr-3 logo-detail-1" src="../../assets/img/chat-avt-6.png" />
                  <div class="content-detail-1">
                    <span class="content-1">Nguyễn Thị Tường Anh </span>
                    <span class="text-top"> 12:09 - 18/10/2019</span>
                    <p>Đầu tư an toàn, bảo toàn dòng vốn. Cam kết lợi nhuận 10%/năm. Hỗ trợ lãi suất 0%/tháng. Bảo đảm
                      chất lượng với đơn vị vận hành quốc tế. Giá trị bất động sản tăng theo hàng năm. Cho vay lên tới
                      65% Cơ hội du lịch miễn phí. Vốn đầu tư từ 600 triệu. Tặng 15 đêm nghỉ dưỡng.</p>
                    <div class="icon-comment-like-share">
                      <span>Trả lời</span>
                      <img src="../../assets/img/ic_chat_bubble_outline_black_24px.png" alt="">
                      <span>0</span>
                      <img src="../../assets/img/ic_like_black_24px.png" alt="">
                      <span>687</span>
                      <img src="../../assets/img/ic_share_black_24px.png" alt="">
                      <span>10</span>
                    </div>
                    <div class="avatar-left d-flex text-comment">
                      <img class="mr-3 logo-detail-1" src="../../assets/img/chat-avt-4.png" />
                      <div class="content-detail-1">
                        <span class="content-1"> Lâm Thy Văn Tần </span>
                        <span class="text-top"> 12:09 - 18/10/2019</span>
                        <p>Đầu tư an toàn, bảo toàn dòng vốn. Cam kết lợi nhuận 10%/năm. Hỗ trợ lãi suất 0%/tháng. Bảo
                          đảm
                          chất lượng với đơn vị vận hành quốc tế. Giá trị bất động sản tăng theo hàng năm. Cho vay lên
                          tới
                          65% Cơ hội du lịch miễn phí. Vốn đầu tư từ 600 triệu. Tặng 15 đêm nghỉ dưỡng.</p>
                      </div>
                    </div>
                    <div class="avatar-left d-flex text-comment">
                      <img class="mr-3 logo-detail-1" src="../../assets/img/chat-avt-4.png" />
                      <div class="content-detail-1">
                        <span class="content-1"> Lâm Thy Văn Tần </span>
                        <span class="text-top"> 12:09 - 18/10/2019</span>
                        <p>Đầu tư an toàn, bảo toàn dòng vốn. Cam kết lợi nhuận 10%/năm. Hỗ trợ lãi suất 0%/tháng. Bảo
                          đảm
                          chất lượng với đơn vị vận hành quốc tế. Giá trị bất động sản tăng theo hàng năm. Cho vay lên
                          tới
                          65% Cơ hội du lịch miễn phí. Vốn đầu tư từ 600 triệu. Tặng 15 đêm nghỉ dưỡng.</p>
                      </div>
                    </div>
                    <div class="avatar-left d-flex text-comment text-chat-avt-6">
                      <img class="mr-3 logo-detail-1" src="../../assets/img/chat-avt-4.png" />
                      <textarea class="form-control edit-form" rows="5" id="comment"
                        placeholder="Viết bình luận tại đây...."></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="hr">
                <hr class="hr-1">
              </div>
              <!-- --------------Picture bottom -------------->
              <div class="picture-bottom">
                <p>Các bài viết liên quan</p>
              </div>
              <div class="picture-top text-center row">
                <div class="row" style="width: 95%; margin: 20px auto">
                  <div class="col-md-4 pl-2 pr-2 mt-2">
                    <div class="card p-2 relative">
                      <div class="row relative mr-0 ml-0">
                        <div class="col-md-12 col-5 p-0">
                          <img src="../../assets/img/pt-bottom-1.png" width="100%" alt="">
                        </div>
                        <div class="col-md-12 col-7 mt-md-3">
                          <div class="title">Tòa nhà Lý Chính Thắng đang trong giai đoạn hoàn thiện</div>
                          <div class="time mt-md-4 mb-md-2">12:09 - 18/10/2019</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 pl-2 pr-2 mt-2">
                    <div class="card p-2 relative">
                      <div class="row relative mr-0 ml-0">
                        <div class="col-md-12 col-5 p-0">
                          <img src="../../assets/img/pt-bottom-2.png" width="100%" alt="">
                        </div>
                        <div class="col-md-12 col-7 mt-md-3">
                          <div class="title">Tòa nhà Lý Chính Thắng đang trong giai đoạn hoàn thiện</div>
                          <div class="time mt-md-4 mb-md-2">12:09 - 18/10/2019</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 pl-2 pr-2 mt-2">
                    <div class="card p-2 relative">
                      <div class="row relative mr-0 ml-0">
                        <div class="col-md-12 col-5 p-0">
                          <img src="../../assets/img/pt-bottom-3.png" width="100%" alt="">
                        </div>
                        <div class="col-md-12 col-7 mt-md-3">
                          <div class="title">Tòa nhà Lý Chính Thắng đang trong giai đoạn hoàn thiện</div>
                          <div class="time mt-md-4 mb-md-2">12:09 - 18/10/2019</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 pl-2 pr-2 mt-2">
                    <div class="card p-2 relative">
                      <div class="row relative mr-0 ml-0">
                        <div class="col-md-12 col-5 p-0">
                          <img src="../../assets/img/pt-bottom-4.png" width="100%" alt="">
                        </div>
                        <div class="col-md-12 col-7 mt-md-3">
                          <div class="title">Tòa nhà Lý Chính Thắng đang trong giai đoạn hoàn thiện</div>
                          <div class="time mt-md-4 mb-md-2">12:09 - 18/10/2019</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="picture-bottom row mt-2">
                <!-- <div class="row"> -->
                <div class="row" style="width: 95%; margin: 20px auto">
                  <div class="col-md-4 pl-2 pr-2 mt-2">
                    <div class="card p-2 relative">
                      <div class="row relative mr-0 ml-0">
                        <div class="col-md-12 col-5 p-0">
                          <img src="../../assets/img/pt-bottom-5.png" width="100%" alt="">
                        </div>
                        <div class="col-md-12 col-7 mt-md-3">
                          <div class="title">Tòa nhà Lý Chính Thắng đang trong giai đoạn hoàn thiện</div>
                          <div class="time mt-md-4 mb-md-2">12:09 - 18/10/2019</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 pl-2 pr-2 mt-2">
                    <div class="card p-2 relative">
                      <div class="row relative mr-0 ml-0">
                        <div class="col-md-12 col-5 p-0">
                          <img src="../../assets/img/pt-bottom-6.png" width="100%" alt="">
                        </div>
                        <div class="col-md-12 col-7 mt-md-3">
                          <div class="title">Tòa nhà Lý Chính Thắng đang trong giai đoạn hoàn thiện</div>
                          <div class="time mt-md-4 mb-md-2">12:09 - 18/10/2019</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 pl-2 pr-2 mt-2">
                    <div class="card p-2 relative">
                      <div class="row relative mr-0 ml-0">
                        <div class="col-md-12 col-5 p-0">
                          <img src="../../assets/img/pt-bottom-7.png" width="100%" alt="">
                        </div>
                        <div class="col-md-12 col-7 mt-md-3">
                          <div class="title">Tòa nhà Lý Chính Thắng đang trong giai đoạn hoàn thiện</div>
                          <div class="time mt-md-4 mb-md-2">12:09 - 18/10/2019</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 pl-2 pr-2 mt-2">
                    <div class="card p-2 relative">
                      <div class="row relative mr-0 ml-0">
                        <div class="col-md-12 col-5 p-0">
                          <img src="../../assets/img/pt-bottom-8.png" width="100%" alt="">
                        </div>
                        <div class="col-md-12 col-7 mt-md-3">
                          <div class="title">Tòa nhà Lý Chính Thắng đang trong giai đoạn hoàn thiện</div>
                          <div class="time mt-md-4 mb-md-2">12:09 - 18/10/2019</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-1">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Include scripts -->
<script type="module" src="../../assets/scripts/index.js"></script>
<script src="/swiper/dist/js/swiper.min.js"></script>
<script src="../../assets/scripts/NewDetailPopup/swiper.js"></script>
<script src="../../assets/scripts/NewDetailPopup/scroll.js"></script>