<% layout('../../layouts/default.ejs') -%>
<% block('title', 'Căn hộ chung cư'); -%>

<!-- ================================Modal Page ============================================== -->
<div class="modal modal-Page" id="myModalPage">
  <div class="modal-dialog total-style">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header color-bar">
        <button type="button" class=" close btn-close" data-dismiss="modal">×</button>
      </div>
      <!-- Body Modal -->
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-md-12 body-intro">
              <div class="icon-avatar-m">
                <div class="row">
                  <div class="col-3 col-md-1 col-sm-1">
                    <div class="img--body-header">
                      <img src="../../assets/img/Rectangle 97.png" alt="">
                    </div>
                  </div>
                  <div class="col-7 col-md-10 col-sm-5">
                    <div class="info--body-header">
                      <p><a href="#">Asset New</a> [Chuyên gia <span>4,5+ <img src="../../assets/img/star.png" alt=""></span> ]
                      </p>
                      <p>đã đăng một bài viết trong <a href="#">căn hộ chung cư</a></p>
                      <p>15 ngày trước</p>
                    </div>
                  </div>
                  <div class="col-2 col-md-1 col-sm-1">
                    <div class="icon-see_more">
                      <img src="../../assets/img/Group 1695.png" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="header-modal-top">
              <div class="img-modal">
                <div>
                  <img src="../../assets/img/danangz.vn-155160174159830.png" alt="">
                </div>
                <div class="info-img-map">
                  <div class="info-1">
                    <div class="info-1_1">
                      <p>Căn hộ chung cư</p>
                      <p>4.500 triệu | 68m2 | 10,0 x 6,8m</p>
                      <p>71144P001 - Dự án Madison 15 Thi Sách, Đường 19, KP1, Phường Phú Hữu, Quận 9, Hồ Chí Minh</p>
                    </div>
                    <div class="info-1_2">
                      <p>đang mở bán</p>
                    </div>
                  </div>
                  <div class="info-2">
                    <div class="info-2_1">
                      <p>sản phẩm của NovaLand | bàn giao T2.2020 | đang làm móng | giấy phép xây dựng | đất ở</p>
                      <p>200.91m2 | 1 + 1 PN | 1 WC | Căn giữa</p>
                      <p><img src="" alt=""> bán | Avalue: 1.680tr | Arent: 7.5tr/th</p>
                      <p>31,8tr/m2 | Trả trước 700tr | Thanh toán 13.4tr/th</p>
                      <p>Căn góc | Đường vào 12.0m (LG12.0m) | <img src="" alt=""> 2 | <img src="" alt=""> 2 | <img
                          src="" alt=""> 2</p>
                      <p>
                        <img src="../../assets/img/star.png" alt="">
                        <img src="../../assets/img/star.png" alt="">
                        <img src="../../assets/img/star.png" alt="">
                        <img src="../../assets/img/star.png" alt="">
                        <img src="../../assets/img/star.png" alt="">
                        <img src="../../assets/img/star.png" alt="">
                      </p>
                    </div>
                    <div class="info-2_2">
                      <div class="info-icon-function">
                        <img src="" alt="">
                        <img src="" alt="">
                        <img src="" alt="">
                      </div>
                      <div class="info-map-function">
                        <img src="../../assets/img/map-modal.png" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal Footer -->
      <div class="modal-footer"></div>
    </div>
  </div>
</div>

<!-- Include scripts -->
<!-- Modal of picture in div -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/swiper/dist/js/swiper.min.js"></script>
<script src="../../assets/scripts/NewDetailPopup/swiper.js"></script>
<script src="../../assets/scripts/NewDetailPopup/scroll.js"></script>
<script type="module" src="../../assets/scripts/index.js"></script>
<script type="text/javascript" src="../../assets/scripts/ModalPage/index.js"></script>
<script type="text/javascript" src="../../assets/scripts/HomePage/page-result.js"></script>