<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Include styles -->
  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/_index.css">
  <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/pages/_modal-page.css">
  <link rel="stylesheet" href="/swiper/dist/css/swiper.min.css">
  <link rel="stylesheet" href="/animate.css/animate.min.css">
  <!-- Include scripts -->
  <script type="text/javascript" src="/jquery/dist/jquery.slim.min.js"></script>
  <script type="text/javascript" src="/popper.js/dist/umd/popper.min.js"></script>
  <script type="text/javascript"  src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <title><%=blocks.title%></title>
</head>
<body>
  <%- body %>
</body>
</html>