//- Homepage
extends ./layout-homepage.pug
block title
  - var title = "Trang chủ";
  title= title
block content
  .section-homepage
    .container-fluid.homepage__container
      //- HOMEPAGE HEADER DESKTOP
      .homepage__header.layout-header.d-none.d-lg-block
        .homepage__header-container.layout-header__container
          .homepage__header-top.layout-header__top
            .d-flex.align-items-center.hp-header-top__container.lh-top__container
              .ml-auto.hp-header-top__menu.lh-top__menu
                .d-flex.align-items-center.ht-menu__items
                  .ht-menu--item
                    a(href='/ket-qua/thong-tin') Th&ocirc;ng tin
                  .ht-menu--item
                    a(href='/ban-do') B&#x1EA3;n &dstrok;&#x1ED3;
                  .ht-menu--item
                    a(href='/ket-qua/bang-gia') B&#x1EA3;ng gi&aacute;
                  .ht-menu--item.dropdown
                    .dropdown-toggle(data-toggle='dropdown') Th&ecirc;m
                    .dropdown-menu.ht-menu__add
                      .dropdown-item
                        a(href='#') Danh b&#x1EA1;
                      .dropdown-item
                        a(href='#') T&agrave;i nguy&ecirc;n
                      .dropdown-item
                        a(href='#') H&#x1ECF;i &dstrok;&aacute;p
                  .ht-menu--item.ht-menu--item__tools.ht-menu-tools.dropdown
                    .menu-tools__btn-toggle.dropdown-toggle(data-toggle='dropdown')
                      img.ht-menu--icon(src='../../../assets/img/Group 1.png', alt='')
                    .menu-tools__dropdown-menu.dropdown-menu
                      .mt--dropdown-item.dropdown-item
                        a(href='#')
                          img(src='../../../assets/img/Group 1569.png', alt='')
                          span.ht-menu--text T&iacute;nh to&aacute;n kho&#x1EA3;n vay
                      .mt--dropdown-item.dropdown-item
                        a(href='#')
                          img(src='../../../assets/img/baseline-insert_chart-24px.png', alt='')
                          span.ht-menu--text
                            | T&iacute;nh
                            | to&aacute;n hi&#x1EC7;u qu&#x1EA3; d&#x1EF1; &aacute;n
                      .mt--dropdown-item.dropdown-item
                        a(href='#')
                          img(src='../../../assets/img/baseline-monetization_on-24px.png', alt='')
                          span.ht-menu--text T&agrave;i ch&iacute;nh c&aacute; nh&acirc;n
                  .ht-menu--item
                    .ht__menu-notify
                      a(href='#')
                        img.ht-menu--icon(src='../../assets/img/Group 22.png', alt='')
                  .ht-menu--item
                    a.ht-menu__login.menu-tools--btn-login.btn.btn-primary(href='/dang-nhap') &Dstrok;&abreve;ng nh&#x1EAD;p
      //- HOMEPAGE HEADER MOBILE      
      .homepage-header_mobile.d-lg-none
        .header_mobile__container
          .header_mobile__content.d-flex.justify-content-between
            .menu_mobile__drawer
              .mobile-drawer__content.d-flex.align-items-center
                .drawer-toggler(data-toggle='modal', data-target='#drawerToggleExternalContent', aria-controls='drawerToggleExternalContent', aria-expanded='false', aria-label='Toggle navigation')
                  img(src='../../assets/img/icon-drawer.png', alt='')
                #drawerToggleExternalContent.modal.fadeInRight(tabindex='-1', role='dialog', aria-labelledby='drawerToggleExternalContent', aria-hidden='true')
                  .modal-content
                    nav.mobile-navbar
                      .mobile-navbar__content
                        a.navbar-brand(href='/')
                          img(src='../../assets/img/asset-logo.png', alt='')
                        .navbar__items
                          .navbar--item
                            a(href='/ket-qua/thong-tin') Th&ocirc;ng tin
                          .navbar--item
                            a(href='/ban-do') B&#x1EA3;n &dstrok;&#x1ED3;
                          .navbar--item
                            a(href='/ket-qua/bang-gia') B&#x1EA3;ng gi&aacute;
                          .navbar--item
                            a(href='#') Danh b&#x1EA1;
                          .navbar--item
                            a(href='#') T&agrave;i nguy&ecirc;n
                          .navbar--item
                            a(href='#') H&#x1ECF;i &dstrok;&aacute;p
            .menu_mobile__items.d-flex.align-items-center
              .menu_mobile--item.dropdown.dropdown__menu-tool
                .dropdown-toggle.d-flex(data-toggle='dropdown')
                  img.img_menu(src='../../assets/img/Group 1.png', alt='')
                .dropdown-menu.menu-tool
                  .dropdown-item
                    a(href='#')
                      img(src='../../assets/img/Group 1569.png', alt='')
                      span.menu-tool--text
                        | T&iacute;nh to&aacute;n kho&#x1EA3;n
                        | vay
                  .dropdown-item
                    a(href='#')
                      img(src='../../assets/img/baseline-insert_chart-24px.png', alt='')
                      span.menu-tool--text T&iacute;nh to&aacute;n hi&#x1EC7;u qu&#x1EA3; d&#x1EF1; &aacute;n
                  .dropdown-item
                    a(href='#')
                      img(src='../../assets/img/baseline-monetization_on-24px.png', alt='')
                      span.menu-tool--text T&agrave;i ch&iacute;nh c&aacute; nh&acirc;n
              .menu_mobile--item
                .menu-notify
                  a.d-flex(href='#')
                    img.img_menu(src='../../assets/img/Group 22.png', alt='')
              .menu_mobile--item
                a.btn-login(href='/dang-nhap')
                  img(src='../../assets/img/icon-avatar.png', alt='')
      //- HOMEPAGE BODY
      .homepage-body
        .homepage-body__container
          .homepage-body__content
            .center.d-flex.justify-content-center.align-items-center
              .center-content.d-flex.flex-column.justify-content-center
                .homepage--logo
                  .logo--container.d-flex.justify-content-center
                    img(src='../../assets/img/asset-logo.png', alt='')
                .homepage--description
                  .description--container.d-flex.flex-column.align-items-center
                    span.description-line.line-1 L&agrave; d&#x1EF1; &aacute;n phi l&#x1EE3;i nhu&#x1EAD;n
                    span.description-line.line-2
                      | n&#x1A1;i l&#x1B0;u tr&#x1EEF; v&agrave; cung c&#x1EA5;p th&ocirc;ng tin v&#x1EC1; th&#x1ECB; tr&#x1B0;&#x1EDD;ng B&#x1EA5;t &dstrok;&#x1ED9;ng s&#x1EA3;n
                      span.highlight Vi&#x1EC7;t Nam &mldr;
                .homepage--input-search
                  .input-search__container.d-flex.justify-content-center
                    #autoComplete__content.w-100.input-search__content.collapsed
                      input#autoComplete.form-control(type='text', placeholder='Search ...', tabindex='1')
      //- HOMEPAGE FOOTER
      .homepage__footer.layout-footer
        .homepage__footer-container
          .hp-footer__links.layout-footer__links.d-flex.justify-content-center.justify-content-lg-start
            .hp-footer--link.layout-footer--link
              a(href='#') Gi&#x1EDB;i thi&#x1EC7;u
            .hp-footer--link.layout-footer--link
              a(href='#') H&#x1B0;&#x1EDB;ng d&#x1EAB;n
          // Desktop Display
          .hp-footer__quick-views.layout-footer__quick-views.d-none.d-lg-flex
            .hp-footer__quick-view.layout-footer--quick-view.w-50
              marquee
                .quick-view__content
                  span
                    span.quick-view--title Tin nhanh 1: 
                    |  Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
                    |                     sollicitudin, lorem quis biben 
                    a(href='#') Xem nhanh
            .hp-footer__quick-view.layout-footer--quick-view.w-50
              marquee
                .quick-view__content
                  span
                    span.quick-view--title Tin nhanh 2: 
                    |  Lorem Ipsum. Proin gravida nibh vel velit
                    |                     auctor aliquet. Aenean
                    |                     sollicitudin, lorem quis biben 
                    a(href='#') Xem nhanh
          // Mobile Display
          .hp-footer__quick-views.layout-footer__quick-views.d-flex.d-lg-none
            .hp-footer__quick-view.layout-footer--quick-view
              marquee
                .quick-view__content.d-inline-flex
                  span
                    span.quick-view--title Tin nhanh 1: 
                    |  Lorem Ipsum. Proin gravida nibh vel velit
                    |                     auctor aliquet. Aenean
                    |                     sollicitudin, lorem quis biben 
                    a(href='#') Xem nhanh
                .quick-view__content.d-inline-flex
                  span
                    span.quick-view--title Tin nhanh 2: 
                    |  Lorem Ipsum. Proin gravida nibh vel velit
                    |                     auctor aliquet. Aenean
                    |                     sollicitudin, lorem quis biben 
                    a(href='#') Xem nhanh

block append body_scripts